html{
    font-family: 'Comfortaa';
    text-align: center;
}

h1{
    font-size: 5rem;
}

#red{
    color: red;
    font-size: 10rem;
    font-family: 'Arvo';
}

a{
    position: relative;
}

a:link{
    color: blue;
}

a:visited{
    color: blue;
}

a:hover{
    color: limegreen;
}

a:active{
    color: limegreen;
    top: 5px;
}
